body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 13px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 13px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 13px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 10px 25px;
}
